.DS_Store
Thumbs.db
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.*
*.key
*.p12
*.jks
**/keystore.jks

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

node_modules/
dist/
dist-ssr/
*.local
coverage/

notlar
infrastructure/kafka_data/
infrastructure/zookeeper_data/
infrastructure/postgres_data/
infrastructure/minio_data/
infrastructure/redis_data/
infrastructure/keycloak/providers

*.jar

!maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.jar

infrastructure/keycloak/providers/*.jar

**/target/
**/build/
**/out/